@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 210px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  border-top: 1px rgba(255, 255, 255, 0.31) solid;
  gap: 10px;
  backdrop-filter: 10px;
}

.text h2 {
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 4px;
  
}

.text p {
  font-size:25px;
  font-weight: 400;
  letter-spacing: 2px;
  color: gray;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 25px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link{
    align-items: center;
    font-size: 2px;
  
  }
  .text h2{
    margin-bottom: 10px;
  }
  .link a{
    font-size: 22px;
  }
  .link{
    gap: 20px;
  }
  .links{
    margin-top: 20px;
  }
  
}
